@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #000000;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-mobile: 556px;
  /* --breakpoint-sm: */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@layer utilities {
  .shadow-soft {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  }

  .shadow-soft-hover {
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.08);
  }

  .glass-nav {
    @apply bg-white/80 backdrop-blur-md border-b border-gray-100;
  }

  .button {
    @apply flex-shrink-0  px-4 py-2.5 bg-black disabled:bg-gray-800 text-white text-sm font-semibold rounded-full hover:opacity-90 transition-opacity
  }

  /* .border-gray-300 { @apply border-gray-300;} */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.shadow-effect {
  box-shadow: -5px 5px 0px black;
}

.shadow-effect-on:hover {
  box-shadow: -5px 5px 0px black;
}


.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  /* Change number to control lines */
}


.title-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* Change number to control lines */
}

/* this is use to remove outline from text editor */
.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}


.scrollbar-hidden {
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: translateX(0) !important;
    inset-block: calc(var(--spacing) * 0) !important;
  }

  .inActive {
    transform: translateX(-100%) !important;

  }
}

.border {
  border-color: rgba(209, 213, 219, 0.5);
}


.rsw-ce h1 {
  font-size: 2rem !important;
}

.rsw-ce h2 {
  font-size: 1.5rem !important;
}

.rsw-ce h3 {
  font-size: 1.17rem !important;
}